@import "tailwindcss";

/* Variables base del proyecto */
@theme {
  --color-primary: #ff8901;
  --color-secondary: #fb923c;
  --container-center: true;
  --container-padding: 2rem;
}

/* sm - pantallas pequeñas (≥ 640px) */
@media (width >= 640px) {
  @theme {
    --container-padding: 2rem;
  }
}

/* lg - pantallas grandes (≥ 1024px) */
@media (width >= 1024px) {
  @theme {
    --container-padding: 4rem;
  }
}

/* xl - pantallas extra grandes (≥ 1280px) */
@media (width >= 1280px) {
  @theme {
    --container-padding: 5rem;
  }
}
